<%- include("partials/header"); -%>

    <h1><%= title %></h1>
    <p><%= content %></p>

<%- include("partials/footer"); -%>

//I first made a mistake here by adding a for loop statement which is unnecessary because we only need to show 1 post. The for loop happens in the home route.                                                                                                                                                          